<div ng-app="froyoapp">
  <div ng-controller="YogurtCtrl">
    <h3>Yogurts</h3>
    <div id = "search">
      Search: <input ng-model="search">
    </div>
    <table class="table">
      <tbody>
        <tr ng-repeat="yogurt in yogurts | filter: search">
          <td>
            <span ng-hide="yogurt.editing">{{yogurt.quantity}} oz of {{yogurt.flavor}} yogurt with {{yogurt.topping}}</span>
            <div ng-show="yogurt.details">
              <dl>
                <dt>Quantity</dt>
                <dd>{{yogurt.quantity}} oz</dd>

                <dt>Price</dt>
                <dd>{{price(yogurt)}}</dd>

                <dt>Flavor</dt>
                <dd>{{yogurt.flavor}}</dd>

                <dt>Topping</dt>
                <dd>{{yogurt.topping}}</dd>
              </dl>
            </div>
            <div ng-show="yogurt.editing">
              <form ng-submit="update(yogurt)">
                <label for="quantity">Quantity:</label>
                <input name="quantity" ng-model="yogurt.quantity" required>
                <label for="flavor">Flavor:</label>
                <input name="flavor" ng-model="yogurt.flavor" required>
                <label for="topping">Topping:</label>
                <input name="topping" ng-model="yogurt.topping" required>
                <input type="submit" value="Update!">
              </form>
            </div>
          </td>
          <td><a ng-hide="yogurt.details" ng-click="showDetails(yogurt)">Show Details</a>
          <a ng-show="yogurt.details" ng-click="hideDetails(yogurt)">Hide Details</a></td>
          <td><a ng-click="editing(yogurt)">Edit</span></td>
          <td><a ng-click="delete(yogurt)">Delete</span></td>
        </tr>
      </tbody>
    </table>
    <h4>New Yogurt:</h4>
    <form ng-submit="create()">
      <label for="quantity">Quantity:</label>
      <input name="quantity" ng-model="newYogurt.quantity" required>
      <label for="flavor">Flavor:</label>
      <input name="flavor" ng-model="newYogurt.flavor" required>
      <label for="topping">Topping:</label>
      <input name="topping" ng-model="newYogurt.topping" required>
      <input type="submit" value="Add New Yogurt!">
    </form>
  </div>
</div>